@charset "utf-8";
.border_00{

    text-align: left;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 740px;
    padding-right: 0px;
    padding-top: 0px;
	margin:15px 0 15px -25px;
}
.border_00 .border_00-topr{
/*   line-height: 27px;
    height: 27px;*/
}
.border_00 .border_00-topl{
/*   line-height: 27px;
    height: 27px;*/
}
.border_00 .border_00-mid{
   width: 100%;
    border-top: medium none;
}
.border_00 .borderContent{
/*   padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;*/
}
.border_00 .comptitle_00{

    width: 100%;
    background:url(../../images/fdt.jpg) repeat-x top center;
    height: 25px;
	border-top:1px dashed #D7DCE8;
	border-bottom:1px dashed #D7DCE8;
	padding:4px 0 0 10px;
}
.border_00 .comptitle_00 STRONG{
   text-align: left;
    font-style: normal;
    width: 45%;
    float: left;
    margin-left: 5px;
    word-break: break-all;
    font-weight: bold;
    text-decoration: none;
}
.border_00 .comptitle_00 .titlestyle_00{
   font-style: normal;
    color: #91A5D0;
    font-weight: bold;
    text-decoration: none;
	font-size:12px;
}
.border_00 .comptitle_00 STRONG IMG{
   vertical-align: middle;
    margin-right: 5px;
}
.border_00 .comptitle_00 EM{
   font-style: normal;
    float: right;
    font-weight: normal;
    margin-right: 10px;
}
.border_00 .comptitle_00 EM SPAN.extendLink{
   text-align: right;
    font-size: 12px;
    margin-right: 8px;
}
.border_00 .comptitle_00 EM SPAN.moreLink{
   font-style: normal;
    font-weight: normal;
}
.border_00 .compmore_00{
   text-align: right;
    clear: both;
    font-size: 12px;
    margin-right: 10px;
}
.border_00 .compmore_00 .extendLink{
   text-align: right;
    font-size: 12px;
    margin-right: 10px;
}
.border_00 .compmore_00 .moreLink{
   font-style: normal;
    font-weight: normal;
}
.FrontMembers_login01-d1_c1{
   text-align: center;
    margin: 0px auto;
    width: 100%;
    clear: both;
}
