@charset "utf-8";
#box_root{
   margin-left: auto;
    margin-right: auto;
}
#box_header{
   width: 100%;
    float: left;
    overflow: hidden;
}
#box_footer{
   width: 100%;
}
#box_main{
   margin-left: auto;
    margin-right: auto;
}
#box_left{
   margin-top: 20px;
    width: 100%;
    background: #fff;
    float: left;
}
#box_left .columnSpace{
}
